python-dotenv
openai
langchain
langchain-core
langchain-huggingface
langchain-chroma
python-docx
sentence-transformers
fastapi
uvicorn
pydantic
python-multipart
google-genai
easyocr
langextract
requests